<!DOCTYPE html>
	<html>
		<head>
			<title>Gecko's tab</title>
			<h3>Protect the gecko!</h3>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
    			<ul>
        			<li><a href="/">Home Crack</a></li>
				<li><a href="/MLnDL">ML & DL</a></li>
				<li><a href="/python">Python</a></li>
				<li><a href="/ABAP">ABAP</a></li>
	 	 	      	<li><a href="/about">About</a></li>
        			<li><a href="/cv">CV</a></li>
    			</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
  

	<body>
